@tailwind base;
@tailwind components;
@tailwind utilities;



.sha {
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.33);
}

.conicG {
  background-image: conic-gradient(
    from 45deg,
    #e4f1f9,
    #fde8e8,
    #f9edf4,
    #f2f2f4,
    #e4f1f9
  );
  /* animation: 4s spin linear infinite; */
}

@font-face {
  font-family: google;
  src: url(./assets/font/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: geist;
  src: url(./assets/font/Geist-Regular.ttf);
}
@font-face {
  font-family: geistt;
  src: url(./assets/font/Geist-Medium.ttf);
}
@font-face {
  font-family: geisttt;
  src: url(./assets/font/GeistMono-Medium.ttf);
}

@font-face {
  font-family: tactico;
  src: url(./assets/font/Tactico.otf);
}
@font-face {
  font-family: mono;
  src: url(./assets/font/DMMono-Regular.ttf);
}
@font-face {
  font-family: aquatico;
  src: url(./assets/font/Aquatico-Regular.otf);
}
@font-face {
  font-family: aero;
  src: url(./assets/font/poiaeronauttrial-regular.otf);
}
@font-face {
  font-family: sky;
  src: url(./assets/font/Bropella.ttf);
}

@font-face {
  font-family: sky2;
  src: url(./assets/font/Equinox\ Regular.otf);
}

@font-face {
  font-family: wakanda;
  src: url(./assets/font/WakandaForever-Regular.ttf);
}
@font-face {
  font-family: waka;
  src: url(./assets/font/WAKANDA\ PANTHER.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/font/Satoshi-Regular.otf);
}
@font-face {
  font-family: robotot;
  src: url(./assets/font/Satoshi-Medium.otf);
}
@font-face {
  font-family: gaia;
  src: url(./assets/font/Gaia.otf);
}
@font-face {
  font-family: doctor;
  src: url(./assets/font/Doctor\ Glitch.otf);
}
@font-face {
  font-family: dolla;
  src: url(./assets/font/Dollamin-1GlzL.ttf);
}
@font-face {
  font-family: sairaT;
  src: url(./assets/font/SairaCondensed-Thin.ttf);
}
@font-face {
  font-family: sairaB;
  src: url(./assets/font/SairaCondensed-Regular.ttf);
}
.contt :nth-child(1) {
  margin-top: 0px;
}

tr:nth-child(odd) {
  background-color: #feecdf;
}

tr:nth-child(1) {
  background-color: #ffdfcb;
}
tr:last-child {
  border-bottom: 1px solid #ffbb91;
}
input::placeholder {
  color: #8b8b8b;
  font-size: 15px;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  /* font-weight: 400; */
}

.contribution-calendar .cell {
  border: 1px solid #ccc; /* Example border */
  margin: 2px; /* Adjust space between cells */
}

.contribution-calendar .cell.active {
  background-color: #4caf50; /* Adjust as needed */
}

/* Hide month names */
.contribution-calendar .month-name {
  display: none;
}

.chartBg {
  background: rgb(245, 246, 250);
  background: linear-gradient(
    90deg,
    rgba(245, 246, 250, 1) 0%,
    rgba(253, 29, 29, 0) 19%,
    rgba(247, 190, 193, 0) 81%,
    rgba(245, 246, 250, 1) 100%
  );
}

.gradBg {
  background-image: linear-gradient(
    to bottom,
    #181f32,
    #4d4f60,
    #858591,
    #c1c0c7,
    #ffffff
  );
}

::-webkit-scrollbar {
  /* height: 3px; */
  height: 0px;
  width: 2px;
}

.choose :nth-child(1) {
  margin-left: 0px;
}
.choose :nth-child(4) {
  margin-left: 0px;
}
.choose :nth-child(6) {
  margin-left: 0px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.bii {
  background-image: conic-gradient(
    from 210deg,
    #ff7b00,
    #fc0394,
    #00b3ff,
    #3602c3,
    #ff7b00
  );
  /* animation: 4s spin linear infinite; */
}

.bi {
  background-image: conic-gradient(
    from var(--angle),
    #ff7b00,
    #fc0394,
    #00b3ff,
    #3602c3,
    #ff7b00
  );
  animation: 4s spin linear infinite;
}
.b {
  color: black;
  /* backdrop-filter: blur(7px); */
}
.d {
  animation: 2.5s blur linear infinite;
}
@keyframes blur {
  0% {
    backdrop-filter: blur(7px);
  }
  50% {
    backdrop-filter: blur(3px);
  }
  100% {
    backdrop-filter: blur(7px);
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.5s;
  width: 0px;
  border-radius: 50px;
  margin: 0px 550px;
  max-height: 50%;
  height: 50%;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #de8544; */
  background-color: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.under {
  box-shadow: 15px 0px 10px -15px #98d832;
}

.conta > div:nth-child(1) {
  margin-left: 0px;
}
.conta > div:nth-child(6n + 7) {
  margin-left: 0px;
}

.box {
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  /* animation: borderRotate var(--d) linear infinite forwards; */
}

.inRound {
  background-image: radial-gradient(
    circle at 100% 100%,
    #c2000000 20px,
    #ffffff 20px
  );
  rotate: -90deg;
}
textarea:hover,
textarea:active,
textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
}

.loader {
  width: 43px;
  height: 43px;
  border: 3.5px solid #5e5e9d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rubberAnimate {
  width: 100%;
  height: auto;
  animation: bounce-in 0.6s normal;
  transition: 0.3s;
}
.rubberAnimate2 {
  width: 100%;
  height: 100%;
  animation: bounce-in-inner 0.6s normal;
  transition: 0.3s;
  /* transition-delay: 0.4s; */
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    width: 0px;
    margin-bottom: -400px;
    transform: scale(0.3);
  }
  70% {
    opacity: 1;
    width: 100%;
    margin-bottom: 0px;
    transform: scale(1.014);
  }
  100% {
    width: 100%;
    margin-bottom: 0px;
    transform: scale(1);
  }
}

@keyframes bounce-in-inner {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
